In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('brigades.csv', index_col='brigade_id')

In [17]:
print("Первые 5 строк таблицы:")
df.head()

Первые 5 строк таблицы:

,brigade_name,object_name,work_type,planned_hours,actual_hours,completed_date,efficienty
brigade_id,,,,,,,
1,Бригада №1,"ЖК ""Солнечный""",Кладка стен,120,115,2023-10-25,104.347826
2,Бригада №2,"ЖК ""Солнечный""",Монтаж перекрытий,80,92,2023-11-05,86.956522
3,Бригада №1,Школа №15,Отделочные работы,200,188,2023-09-15,106.382979
4,Бригада №3,Школа №15,Кровельные работы,90,90,2023-08-20,100.000000
5,Бригада №2,"ТЦ ""Центральный""",Фасадные работы,150,163,2023-12-10,92.024540

In [18]:
print("Общая информация о таблице:")
df.info()

Общая информация о таблице:
<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 1 to 6
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   brigade_name    6 non-null      object
 1   object_name     6 non-null      object
 2   work_type       6 non-null      object
 3   planned_hours   6 non-null      int64
 4   actual_hours    6 non-null      int64
 5   completed_date  6 non-null      object
 6   efficienty      6 non-null      float64
dtypes: float64(1), int64(2), object(4)
memory usage: 384.0+ bytes

In [19]:
print("Основные статистические характеристики численных столбцов:")
df.describe()

Основные статистические характеристики численных столбцов:

       planned_hours  actual_hours  efficienty
count       6.000000      6.000000    6.000000
mean      136.666667    137.000000   98.860024
std        48.442406     43.275859    7.713360
min        80.000000     90.000000   86.956522
25%        97.500000     97.750000   94.018405
50%       135.000000    139.000000  101.724138
75%       172.500000    171.250000  104.122939
max       200.000000    188.000000  106.382979

In [7]:
#Добавляем коллонку эффективность
df['efficienty'] = df['planned_hours'] / df['actual_hours'] * 100

In [8]:
#Определяем самый эффективный вид работы
print('Самый эффективный вид работы -', df.work_type[df['efficienty'] == df['efficienty'].max()].values[0])

Самый эффективный вид работы - Отделочные работы

In [10]:
#Определяем самую эффективную бригаду
print('Самая высокая средняя эффективность у бригады -', df.groupby('brigade_name')['efficienty'].mean().idxmax())

Самая высокая средняя эффективность у бригады - Бригада №1

In [11]:
#Определяем самый проблемный объект(ы) по перерасходу времени
s = df.groupby('object_name')['planned_hours'].sum() - df.groupby('object_name')['actual_hours'].sum()
txt = []

for i in range(len(s)):
    if s.iloc[i] == s.min():
        txt.append(s.index[i])
txt_pr = ', '.join(txt)        
print('Cамый проблемный объект(ы) по перерасходу времени -', txt_pr)

Cамый проблемный объект(ы) по перерасходу времени - ЖК "Солнечный", ТЦ "Центральный"